<%- include("partials/header.ejs", { currentPage: currentPage }) %>

    <div id="welcome" class="content">
        <h1>What's for Dinner?</h1>
        <h2>Find <span>tasty</span> recipes and <span>save money</span> using what you have in the fridge.</h2>
        <button id="explore-button">Explore Now</button>        
    </div>

<%- include("partials/footer.ejs") %>