<%- include("partials/header.ejs", { currentPage: currentPage }) %>

<div id="results" class="content">
    <% results.forEach(result => { %>
        <div class="recipe-card">
            <h2><%= result.title %></h2>
            <img src="<%= result.image %>" alt="dish image">
        </div>
    <% }); %>   
</div>

<%- include("partials/footer.ejs") %>