<%- include("partials/header.ejs", { currentPage: currentPage }) %>

<div id="search" class="content">
    <h1>Search</h1>
    <button>Search</button>        
</div>

<%- include("partials/footer.ejs") %>