body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#welcome {
    background-image: url("/images/background-table.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome h1 {
    font-size: 70px;
    font-weight: 600;
}
