body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

body.home {
    background-image: url("/images/background-table.jpg");
}

body.search {
    background-image: url("/images/background-table.jpg");
}

body.results {
    background-image: url("/images/black-wood-board.jpg");
}

body.recipe {
    background-image: url("/images/black-black-board.jpg");
}

header {
    height: 5%;
    text-align: right;
}

.header-icon {
    margin: 1rem;
    cursor: pointer;
    color: #424242;
    transition: transform 0.3s;
}

.header-icon:hover {
    transform: scale(1.1);
}

.header-icon:active {
    transform: scale(0.9);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

footer {
    text-align: center;
    height: 5%;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
}

#welcome h1 {
    font-size: 70px;
    font-weight: 600;
    color: #424242;
}

#welcome h2 {
    font-style: italic;
    font-size: 28px;
    color: #424242;
}
#welcome span {
    font-weight: 700;
    font-style: italic;
    color: #004225;
}

#search {
    width: 30%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.form-field * {
    font-size: 19px;
}

.form-field label {
    font-weight: 600;
    color: #424242;
}

.form-field input, .form-field select {
    border-radius: 5px;
    border: #424242 solid 1px;
    padding: 0.5rem;
}

.form-field label {
    margin-bottom: 0.15rem;
}

.form-field *:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(0, 66, 37, 0.4);
}

#explore-button {
    margin-top: 1.5rem;
}

button {
    padding: 0.65rem;
    font-size: 20px;
    font-weight: 500;
    color: #424242;
    background-color: #FFCF9D;
    border-radius: 10px;
    border: #424242 solid 1px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    transform: scale(1.05);
    background-color: #ffbe78;
}

button:focus {      
    outline: none;
    box-shadow: 0 0 3px 2px rgba(0, 66, 37, 0.4);
}

button:active {
    transform: scale(0.95);
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-card {
    max-width: 800px;    
    height: auto;
    flex: 1 1 calc(50% - 8rem - 2px);
    padding: 1rem;
    margin: 3rem;
    background-color: whitesmoke;
    border: #424242 solid 1px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;

}

.recipe-card * {
    width: 50%;
    height: auto;
    object-fit: contain;
}

.recipe-card:hover {
    transform: scale(1.05);
}

#recipe {
    display: flex;
    flex-direction: column;
    width: 55%;
}

#recipe * {
    color: #F5F5DC;
}

.error {
    font-size: 30px;
    font-weight: 600;
}

#recipe .error {
    color: #F5F5DC;
}

#recipe h1 {
    margin-bottom: 1rem;
    font-size: 60px;
    color: #FFB000;
}

#recipe h2 {
    color: #FFCF9D;
    margin-bottom: 0.3rem;
    font-size: 30px;
}

#recipe h3 {
    position: relative;
    left: 1rem;
    margin-bottom: 0.2rem;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#recipe li {
    position: relative;
    left: 1.5rem;
    margin-bottom: 0.2rem;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1025px) {
    #search {
        width: 60%;
    }

    .recipe-card h2 {
        font-size: 20px;
    }

    .recipe-card {
        flex-direction: column;
        gap: 0.5rem;
    }

    .recipe-card * {
        width: auto;
    }
}

@media (max-width: 426px) {
    #recipe {
     width: 80%;
    } 
 
    #search {
     width: 80%;
    }

    .recipe-card {
        margin: 1rem;
    }
 }

 @media (max-width: 321px) {
    .recipe-card {
        margin: 0.2rem;
        padding: 0;
    }
 }
